* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: bisque;
    background-size: cover;
    font-family: sans-serif;
}
.menu {
    background: rgb(1, 0, 54);
    text-align: center;
}
.fa-solid, .fas {
    font-weight: 900;
    padding-right: 15px;
}
.menu ul {
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu ul li {
    width: 230px;
    margin: 28px;
    padding: 15px;
}
.menu ul li a {
    text-decoration: none;
    color: #fff;
}
.active, .menu ul li:hover {
    background: rgb(64, 130, 246);
    border-radius: 3px;
}
.menu .fa {
    margin-right: 20px;
}
.sub-menu {
    display: none;
}
.menu ul li:hover .sub-menu {
    display: block;
    position: absolute;
    background: rgb(1, 0, 54);
    margin-top: 15px;
    margin-left: -15px;
}
.menu ul li:hover .sub-menu ul {
    display: block;
    margin: 10px;
}
.menu ul li:hover .sub-menu ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu ul li:hover .sub-menu ul li:last-child {
    border-bottom: none;
}
.menu ul li:hover .sub-menu ul li a:hover {
    color: rgb(179, 236, 247);
}
.logo{
    width: 200px;
    height: 100px;
    padding-top: 15px;
    padding-right: 40px;
    padding-bottom: 15px;
    padding-left: 0px;
}
/*Formulaire*/
form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
}
form h1 {
    font-size: 20px;
}
form .separation {
    width: 100%;
    height: 1px;
    background-color: #747cdf;
}
form .corps-formulaire {
    flex-wrap: wrap;
    margin-bottom: 20px;
}
form .corps-formulaire .groupe {
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
form .corps-formulaire .gauche .droite, .groupe input{
    margin-top: 5px;
    padding: 10px 5px 10px 30px;
    border: 1px solid #c9c9c9;
    outline-color: #747cdf;
    border-radius: 5px;
}
form .corps-formulaire .gauche .droite, .groupe i {
    position: absolute;
    left: 0;
    top: 25px;
    padding: 9px 8px;
    color: #747cdf;
}
form .corps-formulaire .droite {
    margin-left: 10px;
}
form .corps-formulaire {
    margin-left: 10px;
    
}
form .corps-formulaire .groupe {
    height: 100%;
}
form .corps-formulaire .place .photo {
    padding-top: 10px;
    float: left;
}
form .corps-formulaire .groupe textarea {
    margin-top: 5px;
    padding: 10px;
    background-color: #f8f8f8;
    border: 2px solid #747cdf;
    outline: none;
    border-radius: 5px;
    resize: none;
    height: 82%;
}
form .pied-formulaire button {
    margin-top: 15px;
    background-color: #747cdf;
    color: white;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
}
form .pied-formulaire button:hover {
    transform: scale(1.05);
}

button {
    margin-top: 15px;
    background-color: #747cdf;
    color: white;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
}
button:hover {
    transform: scale(1.05);
}