* body {
    font-family: "Raleway", sans-serif;
    width: 100%;
    margin: 0 auto;
    background: tan;
}

.menu {
    background: rgb(0, 0, 0);
    text-align: center;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}
.menu ul {
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.menu ul li {
    width: 230px;
    margin: 28px;
    padding: 15px;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
}

.active, .menu ul li:hover {
    background: rgb(64, 130, 246);
    border-radius: 3px;
    font-weight: bold;
}

.sub, .menu ul li:hover {
    background: rgb(64, 130, 246);
    border-radius: 3px;
    font-weight: bold;
}

.menu .fa {
    margin-right: 20px;
}

.sub-menu {
    display: none;
}

.logo{
    width: 200px;
    height: 100px;
    padding-top: 25px;
    padding-right: 40px;
    padding-bottom: 15px;
    padding-left: 30px;
}


/*HEADER*/
/*MAIN*/

.site-main {
    margin-right: 31px;
    margin-left: 31px;
    padding-top: 230px;
}

section {
    background-color: #F2F2F2;
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 30px;
    width: 95%;
    padding-right: 10px;
    padding-left: 30px;
}

.categorie-1, .categorie-A, .categorie-B, .categorie-C, .categorie-D, .categorie-S {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.image {
    height: 110px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 210px;
}

.ctg {
    background-color: white;
    border-radius: 20px;
    padding: 4px;
    margin-bottom: 25px;
}

.ctg p {
    font-weight: bold;
    margin-left: 14px;
}

sub {
    font-weight: normal;
}

.ctg a {
    color: black;
    text-decoration: none;
    cursor: default;
}
