* body {
    font-family: "Raleway", sans-serif;
    width: 100%;
    margin: 0 auto;
    background-image: url(img/fond.webp);
    background-size: cover;
    background-position: center;
}

.menu {
    background: rgb(0, 0, 0);
    text-align: center;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}
.menu ul {
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.menu ul li {
    width: 230px;
    margin: 28px;
    padding: 15px;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
}

.active, .menu ul li:hover {
    background: rgb(64, 130, 246);
    border-radius: 3px;
    font-weight: bold;
}

.sub, .menu ul li:hover {
    background: rgb(64, 130, 246);
    border-radius: 3px;
    font-weight: bold;
}

.menu .fa {
    margin-right: 20px;
}

.sub-menu {
    display: none;
}

.logo, .logo2{
    width: 200px;
    height: 100px;
    padding-top: 25px;
    padding-right: 40px;
    padding-bottom: 15px;
    padding-left: 30px;
}


/*HEADER*/
/*MAIN*/

.site-main {
    margin-right: 31px;
    margin-left: 31px;
    padding-top: 230px;
}

section {
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 30px;
    width: 95%;
    padding-right: 10px;
    padding-left: 30px;
}

.categorie-1, .categorie-A, .categorie-B, .categorie-C, .categorie-D, .categorie-S {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.image {
    height: 110px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 210px;
}

.ctg {
    background-color: white;
    border-radius: 20px;
    padding: 4px;
    margin-bottom: 25px;
}

.ctg p {
    font-weight: bold;
    margin-left: 14px;
}

sub {
    font-weight: normal;
}

.ctg a {
    color: black;
    text-decoration: none;
    cursor: default;
}
.separation {
    width: 100%;
    height: 4px;
    background-color: beige;
}
.titre {
    color: beige;
    width: 617px;
    background: linear-gradient(45deg, black, transparent);
}
h2 {
    color: beige;
    width: 376px;
    background: linear-gradient(45deg, black, transparent);
}
h4 {
    color: beige;
    width: 100%;
    background: linear-gradient(45deg, black, transparent);
}

/*FOOTER*/
footer {
    background: wheat;
}

#info {
    display: flex;
    justify-content: space-around;
}
.titre4 {
    margin-right: 60px
}
h4 {
    font-size: initial;
    margin-left: 40px;
}
footer #info .titre4 ul li {
    list-style-type: none;
    line-height: 1.8em;
}
footer #info .titre4 ul li p {
    font-weight: bold;
    font-style: italic;
}
footer #info .titre4 ul li a {
    text-decoration: none;
    color: black;
}

/*Media Queries*/

@media screen and (min-width:426px) and (max-width:861px) {
    .menu ul {
        display: flex;
        justify-content: space-between;
    }
    .logo2 {
        display: none;
    }
    section {
        width: 150%;
    }
    .separation {
        width: 150%;
    }
    footer {
        width: 150%;
        margin: auto;
    }
    footer #info {
        width: 100%;
        margin: 0 auto;
        display: block;
    }
    footer #info .titre4 {
        width: 100%;
        margin: 0 auto;
    }
    footer #info .titre4 h4{
        width: 100%;
        margin: 0 auto;
    }
    footer #info .titre4 h4 ul {
        width: 100%;
        margin: 0 auto;
    }
    footer #info .titre4 h4 ul li{
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (max-width:425px) {
    .logo2 {
        display: none;
    }
    section {
        width: 170%;
    }
    .separation {
        width: 170%;
        width: 600px;
    }
    footer {
        width: 150%;
        margin: auto;
        width: 688px;
    }
    footer #info {
        width: 100%;
        margin: 0 auto;
        display: block;
    }
    footer #info .titre4 {
        width: 100%;
        margin: 0 auto;
    }
    footer #info .titre4 h4{
        width: 100%;
        margin: 0 auto;
    }
    footer #info .titre4 h4 ul {
        width: 100%;
        margin: 0 auto;
    }
    footer #info .titre4 h4 ul li{
        width: 100%;
        margin: 0 auto;
    }
    .categorie-1, .categorie-A, .categorie-B, .categorie-C, .categorie-D, .categorie-S {
        width: 100%;
        width: 560px;
    }
}